* {
    margin: 0%;
    padding: 0%;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    box-sizing: border-box;
}    

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.nav-item {
    font-weight: 600;
    padding-left: 50px;
}

.navbar-link {
    color: #ccc;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 700;
}

.navbar-link:hover {
    background: #dcdde1;
    color: #262626;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

/* IMAGEN de INICIO */

.main {
    position: relative;
    background: url(https://images.pexels.com/photos/3768095/pexels-photo-3768095.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 100vh;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    background-repeat: no-repeat;
}

.main h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}

.main .bookNow {
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

/* SECTION 2 TEXTO */

 .texto1 {
    background-image: linear-gradient(to right, #051937, #101d35, #192033, #202430, #26282e);
    color: #fff;
    padding: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pTexto1 {
    font-size: 1.5rem;
}

.pTextoII {
    display: none;
}

/* SECTION 3 MENU del MAIN */

.menu {
    max-width: 80%;
    padding: 0.2rem;
    margin: 5rem;
}

.mCard img {
    width: 100%;
}
.mCard {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.mCard div {
    display: flex;
    align-items: center;
    justify-content: center
}

/* SECTION 4 TEXTO */

.texto2 {
    background-image: linear-gradient(to right, #051937, #101d35, #192033, #202430, #26282e);
    color: #fff;
    padding: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pTexto2 {
    padding: 40px;
    font-size: 1.5rem;
}

/* SECTION CONTACTO */

.contact {
    background-image: linear-gradient(to right bottom, #ffffff, #f8f8f9, #f2f2f4, #ebebee, #e4e5e9, #dfe0e4, #dbdce0, #d6d7db, #d2d3d6, #ceced0, #cacacb, #c6c6c6);
}

.hContact {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.ctat {
    margin-left: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "cont1  cont4"
        "cont2  cont4"
        "cont3  cont4"
}

.cont1 {
    grid-area: cont1;
}

.cont2 {
    grid-area: cont2;
}

.cont3 {
    grid-area: cont3;
}

.cont4 {
    grid-area: cont4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 5px;
}

.top {
    margin: 50px;
    text-decoration: none;
    color: #000;
}

/* FOOTER */

.footer {
    width: 100%;
}

.footer2 {
    background-image: linear-gradient(to right, #051937, #101d35, #192033, #202430, #26282e);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    color: #fff;
}    

.pFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.pFooter p {
    font-size: 20px;
}

.foot1 {
    margin: 10px;
    padding: 5px;
}

.foot2 {
    margin: 10px;
    padding: 5px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.iconFb {
    padding: 10px;
}

.iconInst {
    padding: 10px;
}

.iconWorld {
    padding: 10px;
}

/* ROOMS */

.bgRoom {
    position: relative;
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.3) ), url(https://images.unsplash.com/photo-1508285595352-5aca1ba4c7dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    height: 100vh;
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    background-repeat: no-repeat;
}

.bgRoom h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}

.rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 14rem;
   
}

.rooms div {
    margin-bottom: 2rem;
}

.rooms img {
    width: 100%;
    transition:all .6s ease-in-out;
}

.rooms:hover img {
    -webkit-transform:scale(0.9);transform:scale(0.9);
    filter: grayscale(70%);
}

.rooms {overflow:hidden;}

.rooms p {
    margin-top: 1rem;
    text-align: center;
}

/* FOOD & DRINKS */

.picFood {
    height: 50%;
}

.food1 {
    width: 100%;
}

.food1Txt {
    width: 50%;
    padding: 5px;
    display: flex;
    text-align: center;
}

.foodB {
    height: 100%;
    background-image: linear-gradient(to left top, #404040, #666666, #8e8e8e, #b9b9b9, #e6e6e6);
}

.bakery1 {
    height: 260px;
    width: 340px;
    margin: 40px;
}

.bakery1Txt {
    width: 497px;
    height: 56px;
    margin: 19px 29px;
    padding: 20px 10px;
}

.rest1 {
    height: 260px;
    width: 340px;
    margin: 40px;
}

.rest1Txt {
    width: 497px;
    height: 56px;
    margin: 19px 29px;
    padding: 20px 10px;
}

.drinks1 {
    height: 260px;
    width: 340px;
    margin: 40px;
}

.drinks1Txt {
    width: 497px;
    height: 56px;
    margin: 19px 29px;
    padding: 20px 10px;
}

/* OTHERS SERVICES */

.inicioServs {
    height: 40vh;
    background-image: linear-gradient(to left top, #404040, #666666, #8e8e8e, #b9b9b9, #e6e6e6);
    text-align: center;
}

.inServs {
    margin: 0px 49px;
    padding: 20px 10px;
}

.inServs h1 {
    margin-bottom: 30px;
}

.imgServs{
    background-image: linear-gradient(to right, #f2f2f2, #efefef, #ececec, #e9e9e9, #e6e6e6);
}

.servs1 {
    height: 260px;
    width: 340px;
    margin: 40px;
}

.servs1Txt {
    width: 497px;
    height: 56px;
    margin: 19px 29px;
    padding: 20px 10px;
}

.servs2 {
    height: 260px;
    width: 340px;
    margin: 40px;
}

.servs2Txt {
    width: 497px;
    height: 56px;
    margin: 19px 29px;
    padding: 20px 10px;
}

.servs3 {
    height: 260px;
    width: 340px;
    margin: 40px;
}

.servs3Txt {
    width: 497px;
    height: 56px;
    margin: 19px 29px;
    padding: 20px 10px;
}

/* ABOUT US */

.inicioAbout {
    height: 120vh;
    background-image: linear-gradient(to left top, #404040, #666666, #8e8e8e, #b9b9b9, #e6e6e6);
    text-align: center;
}

.inAbout {
    height: 29vh;
}
.inAbout h1 {
    margin-bottom: 15px;
    padding: 25px;
}

.picInicio {
    height: 85vh;
    width: 53%;
}

.about2 {
    height: 70vh;
    background-image: linear-gradient(to right, #f2f2f2, #efefef, #ececec, #e9e9e9, #e6e6e6);
}

.picAbout2 {
    width: 42%;
    height: 45vh;
    margin: 19px 29px;
    padding: 20px 10px;
}

@media screen and (max-width: 480px) {
    .main {
        height: 25vh;
        display: flex;
        align-content: center;
        justify-content: end;
    }
    .main h2 {
        font-size: 1.5rem;
    }
    .navbar-nav {
        background-color: #fff;
    }
    .navbar-nav a {
        color: #262626;
        text-decoration: none;
    }
    .pTexto1 {
        display: none;
    }
    .pTextoII {
            font-size: 1rem;
            text-align: center;
            padding: 15px;
            display: flex;
            justify-content: center;
    }
    .mCard {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pTexto2 {
        font-size: 1rem;
        text-align: center;
        padding: 0;
    }
    .cont4 {
        display: none;
    }
    .ctat {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .bgRoom {
        height: 25vh;
        width: 100%;
    }
    .rooms {
        margin: 2rem;
    }
    .rooms div {
        margin-bottom: 0;
    }

    /* FOOD & DRINKS */
    .picFood {
        height: 80vh;
        width: 100%;
    }

    .food1Txt {
        width: 79%;
        height: 16vh;
        margin: 0%;
    }

    .food1Txt h2 {
        display: none;
    }
    .food1Txt p {
        text-align: center;
        font-size: 20px;
    }
    .foodB {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 200vh;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .foodB img {
        height: 36vh;
        width: 56%;
    }
    .foodB p {
        font-size: 15px;
        text-align: center;
        margin: 15px;
        width: 90%;
    }
    .picBakery1, .picRest1, .picDrinks1 {
        margin-bottom: -50px;
    }
    .bakery1Txt, .rest1Txt, .drinks1Txt {
        width:83%
    }
/* OTHER SERVICES */    
    .inicioServs .txt1 {
        display: none;
    }
    .imgServs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        height: 230vh;
    }
    .imgServs p {
        font-size: 20px;
        width: 83%;
    }
/* ABOUT US */
    .inicioAbout {
        height: 110vh;
    }
    .inAbout {
        height: 50vh;
    }
    .picInicio {
        height: 60vh;
        width: 100%;
    }
    .cont4 {
        display: none;
    }
    .ctat {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .about2 {
        height: 50vh;
    }
    .picAbout2 {
        height: 33vh;
        width: 70%;
    }
}    

@media screen and (max-width: 768px) {
    


    .inicioServs .txt2 {
        display: none;
    }
    
}
