/* IMAGEN de INICIO */

.flex--main {
    @include flex (end,center);
    position: relative;
    background: url(https://images.pexels.com/photos/3768095/pexels-photo-3768095.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 100vh;
    background-size: 100%;
    background-position: center;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    -webkit-animation: bg-pan-bl 8s both;
    animation: bg-pan-bl 8s both;
    .bookNow {
        color: map-get($colorGral, font);
        text-decoration: none;
        font-size: 1.5rem;
        text-shadow: 1px 1px 3px #000000;
    }
    h1 {
        font-size: 4rem;
        color: map-get($colorGral, font);
        font-weight: bold;
        text-shadow: 1px 1px 3px #000000;
          -webkit-animation: fade-in-left 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                  animation: fade-in-left 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}    

/* SECTION 2 TEXTO */

.texto1 {
    background-image: map-get($colorGral, bg);
    color: map-get($colorGral, font);
    padding: 3rem;
    margin: 0;
    text-align: center;
    .pTexto1 {
        font-size: 1.5rem;
    }
}
/* SECTION 3 TEXTO II */

.textoII {
    padding: 3rem;
    margin: 5rem;
    text-align: center;
    position: relative;
    .txt {
      font-size: 1.3rem;
    }
}
.textoII:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
    border-top: 1px solid  #404040;
}
.textoII::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 80%; 
    left: 10%;
    border-bottom:1px solid #404040;
}

/* SECTION 4 MENU del MAIN */

.menu {
    width: 88%;
    padding: 0.2rem;
    margin: 8rem auto;
    .mCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-top: 3rem;
        overflow: hidden;
        img {
            width: 100%;
            transition: all .6s;      
        }
        div {
            display: grid;
            margin: 2rem;
            padding: 2rem;
            h3 {
              font-weight: 700;
            }
            p {
              font-size: 1.3rem;
            }
        }
    }
    .mCard:hover img {
      -webkit-transform:scale(0.9);transform:scale(0.9);
      transition: all .6s;      
    }
    .mCard:nth-child(even) a {
        order: 2;
    }    
}
/* SECTION 5 TEXT */

.texto3 {
    @include flex (center,center);
    background-image: map-get($colorGral, bg);
    color: map-get($colorGral, font);
    padding: 3rem;
    margin: 0;
    .pTexto3 {
        font-size: 1.5rem;
    }
}
/* SECTION CONTACT */
.top {
  margin:  3rem 0 1rem 1rem;
  @include flex (center, center);
  position: relative;
  a {
    text-decoration: none;
    span {
      position: relative;
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
      color: #000000;
      letter-spacing: -5px;
      text-transform: uppercase;
      animation: flip 2s 2;
      animation-delay: calc(.2s * var(--i))
    }
  }
}
