/* IMAGEN de INICIO */

.flex--main {
    @include flex (end,center);
    position: relative;
    background: url(https://images.pexels.com/photos/3768095/pexels-photo-3768095.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 100vh;
    background-size: 100%;
    background-position: center;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    .bookNow {
        color: map-get($colorGral, font);
        text-decoration: none;
        font-size: 1.5rem;
        text-shadow: 1px 1px 3px #000000;
    }
    h1 {
        font-size: 4rem;
        color: map-get($colorGral, font);
        font-weight: bold;
        text-shadow: 1px 1px 3px #000000;
    }
}    
/* SECTION 2 TEXTO */

.texto1 {
    background-image: map-get($colorGral, bg);
    color: map-get($colorGral, font);
    padding: 57px 126px;
    margin: 0;
    text-align: center;
    .pTexto1 {
        font-size: 1 rem;
    }
}
/* SECTION 3 TEXTO II */

.textoII {
    padding: 57px 126px;
    margin: 80px;
    text-align: center;
    position: relative;
}
.textoII:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%;
    border-top: 1px solid  #404040;
}
.textoII::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 80%; 
    left: 10%;
    border-bottom:1px solid #404040;
}

/* SECTION 4 MENU del MAIN */

.menu {
    width: 88%;
    padding: 0.2rem;
    margin: 1rem;
    .mCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-top: 3rem;
        margin-left: 3rem;
        img {
            width: 100%;
        }
        div {
            @include flex (start,center);
        }
    }
    .mCard2 {
        display: none;
    }
    .mCard:nth-child(even) img {
        order: 2;
    }    
}
/* SECTION 5 TEXTO */

.texto3 {
    @include flex (center,center);
    background-image: map-get($colorGral, bg);
    color: map-get($colorGral, font);
    padding: 30px;
    margin: 0;
    .pTexto3 {
        padding: 40px;
        font-size: 1.2rem;
    }
}

/* SECTION CONTACTO */
.contact {
    background-image: map-get($colorGral, contacto);
    .hContact {
        padding: 2rem;
        display: flex;
        justify-content: center;
    }
    .ctat {
        margin-left: 20px;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "cont1  cont4"
            "cont2  cont4"
            "cont3  cont4";
        .cont1 {
            grid-area: cont1;
            }
        .cont2 {
            grid-area: cont2;
        }
        .cont3 {
            grid-area: cont3;
        }
        .cont4 {
            @include flex (center,center);
            grid-area: cont4;
            .form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                gap: 5px;
            }
        }
        .top {
            margin: 50px;
            text-decoration: none;
            color: map-get($colorGral, font2);
        }
    }
}