@media screen and (max-width: 480px) {
    .navbar-nav {
        background-color: map-get($colorGral, font);
        & a {
            color: #262626;
            text-decoration: none;
            }
        }
    .flex--main {
        height: 25vh;
        @include flex (end, center);
        h1 {
            font-size: 1.5rem;
        }
    }
    .texto1 {
        display: none;
    }
    .textoII { 
        @include flex (center, center);
        flex-direction: column;
        padding: 15px;
        h3 {
            font-size: 1rem;
        }
        .txt {
            display: none;
        }
    }
    .menu  {
        margin-left: 1.5rem;
        .mCard {
            display: none;
        }
        .mCard2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 4rem;
        }
    }
    .pTexto3 {
        display: none;
    }
    .pTexto4 {
        text-align: center;
    }
    .bgRoom {
        height: 25vh;
        width: 100%;
    }
    .rooms {
        margin: 2rem;
        .rooms div {
            margin-bottom: 0;
        }
    }
        /* FOOD & DRINKS */
    .foodmain {
        height: 25vh;
        @include flex (end, center);
        padding: 1rem;
        h1 {
            font-size: 1.5rem;
        }
        p {
            display: none;
        }
    }
    .fTextoI { 
        @include flex (center, center);
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        h2 {
            font-size: 1rem;
        }
        .fTxt {
            display: none;
        }
    }
    .bgf {
        height: 55vh;
        img {
            width: 100%;
        }
        p {
            padding: 1rem;
            margin-right: 2rem;
        }
    }
    .pht {
        display: none;
    }
    .pht2 {
        padding: 1rem;
    }
    .bgRes {
        height: 45vh;
    }
    .fTextoI {
        display: none;
    }
    /* OTHER SERVICES */    
    .ots {
        height: 25vh;
        @include flex (end, center);
        padding: 1rem;
        h1 {
            font-size: 1.5rem;
        }
        p {
            display: none;
        }
    }
    .oCard {
        @include flex (center, center);
        flex-direction: column;
        .cTec {
            margin: 0;
            text-align: center;
            h3 {
                font-size: 1.6rem;
                margin: 1rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .otsText:before,  .otsText:after {
        display: none;
    }
    .petBg {
        height: 55vh;
        img {
            width: 100%;
        }
    }
    .acces {
        @include flex (center, center);
        flex-direction: column;
        margin: 0;
        .acDiv {
            margin: 0;
            text-align: center;
            h3 {
                font-size: 1.6rem;
                margin: 1rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .care {
        height: 50%;
    }
    /* CONTACT US */
    .cont {
        height: 25vh;
        @include flex (center, center);
        h1 {
            font-size: 1.5rem;
        }
    }
    .cText {
        height: 65vh;
        margin-bottom: 0;
    }
    .map {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .txtII {
        display: none;
    }
    .mCard2 {
        display: none;
    }
    .pTexto4 {
        display: none;
    }
    .fTxtII {
        display: none;
    }
    .pht2 {
        display: none;
    }
}