@import "vars";
@import "header";
@import "footer";
@import "index";
@import "rooms";
@import "foodDrinks";
@import "otherSrvs";
@import "aboutUs";

@media screen and (max-width: 480px) {
    .navbar-nav {
        background-color: map-get($colorGral, font);
        & a {
            color: #262626;
            text-decoration: none;
            }
        }
    .main {
        height: 25vh;
        display: flex;
        align-content: center;
        justify-content: end;
        & h2 {
            font-size: 1.5rem;
        }
    }
    .pTexto1 {
        display: none;
    }
    .pTexto2 {
        font-size: 1rem;
        text-align: center;
        padding: 0;
    }
    .pTextoII {
        font-size: 1rem;
        text-align: center;
        padding: 15px;
        display: flex;
        justify-content: center;
    }
    .mCard {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .ctat {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .cont4 {
            display: none;
        }
    }
    .bgRoom {
        height: 25vh;
        width: 100%;
    }
    .rooms {
        margin: 2rem;
        .rooms div {
            margin-bottom: 0;
        }
    }
        /* FOOD & DRINKS */
    .picFood {
        height: 80vh;
        width: 100%;
        .food1Txt {
            width: 79%;
            height: 16vh;
            margin: 0%;
            &h2 {
                display: none;
            }
            &p {
                text-align: center;
                font-size: 20px;
            }
        }
    }
    .foodB {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 200vh;
        width: 100%;
        align-items: center;
        text-align: center;
        .foodB img {
            height: 36vh;
            width: 56%;
        }
        .foodB p {
            font-size: 15px;
            text-align: center;
            margin: 15px;
            width: 90%;
        }
    }
    .picBakery1, .picRest1, .picDrinks1 {
        margin-bottom: -50px;
    }
    .bakery1Txt, .rest1Txt, .drinks1Txt {
        width:83%
    }
    /* OTHER SERVICES */    
    .inicioServs .txt1 {
        display: none;
    }
    .imgServs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        height: 230vh;
        &p {
            font-size: 20px;
            width: 83%;
        }
    }
    /* ABOUT US */
    .inicioAbout {
        height: 110vh;
        .inAbout {
            height: 50vh;
        }
        .picInicio {
            height: 60vh;
            width: 100%;
        }
    }
    .ctat {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        .cont4 {
            display: none;
        }
    }
    .about2 {
        height: 50vh;
        .picAbout2 {
            height: 33vh;
            width: 70%;
        }
    }
}
@media screen and (max-width: 768px) {
    .inicioServs .txt2 {
        display: none;
    }
}